<div>
    <!-- 标题栏 -->
    <header class="bar bar-nav">
        <a class="icon icon-left pull-left open-panel" @click="goBack()"></a>
        <h1 class="title">{{title}}</h1>
    </header>
    <div class="content infinite-scroll infinite-scroll-bottom " >

        <div class="buttons-tab fixed-tab" data-offset="0">
            <a v-for="item in cookbookClasses" @click="goCookbook(item.id)" class="tab-link button class_{{item.id}} {{item.id == id?'active':''}}">{{item.title}}</a>
        </div>

        <div class="content pull-to-refresh-content" data-ptr-distance="44">
            <!-- 默认的下拉刷新层 -->
            <div class="pull-to-refresh-layer">
                <div class="preloader"></div>
                <div class="pull-to-refresh-arrow"></div>
                <div style="position:absolute;bottom:-3px;width:100%;text-align: center;font-size: 12px;">1分钟前更新过</div>
            </div>
            <!-- 这里是页面内容区 -->
            <div id="cookbook_{{id}}">
                <div class="card" v-for="item in cookbookItems" @click="goCookbookDetail(item.id)">
                    <div class="card-content">
                        <div class="list-block media-list">
                            <ul>
                                <li class="item-content">
                                    <div class="item-media">
                                        <img :src="'http://tnfs.tngou.net/img'+item.img" width="44">
                                    </div>
                                    <div class="item-inner">
                                        <div class="item-title-row">
                                            <div class="item-title">{{item.name}}</div>
                                        </div>
                                        <div class="item-subtitle">{{item.food}}</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- 加载提示符 -->
                <div class="infinite-scroll-preloader" v-if="isShowLoad">
                    <div class="preloader"></div>
                </div>
            </div>
        </div>
    </div>

</div>