<div class="page page-current">
    <!-- 标题栏 -->
    <header class="bar bar-nav">
        <h1 class="title">菜谱demo</h1>
    </header>

    <!--2级标题栏-->
    <div class="bar bar-header-secondary" id="class_tab">
        <a v-for="item in cookbookClasses" @click="goCookbook(item.id)"
           class="button class_{{item.id}} {{item.id == id?'active':''}}"
        >{{item.title}}</a>
    </div>


    <div class="content infinite-scroll infinite-scroll-bottom pull-to-refresh-content"  data-ptr-distance="70" >
        <!-- 默认的下拉刷新层 -->
        <div class="pull-to-refresh-layer">
            <div class="preloader"></div>
            <div class="pull-to-refresh-arrow"></div>
            <div style="position:absolute;bottom:-3px;width:100%;text-align: center;font-size: 12px;">{{updateTime | time-diff}}前更新过</div>
        </div>

        <div class="">
            <!-- 这里是页面内容区 -->
            <div class="cookbook-box" id="cookbook_{{id}}">
                <div class="card" v-for="item in cookbookItems" @click="goCookbookDetail(item.id)">
                    <div class="card-content">
                        <div class="list-block media-list">
                            <ul>
                                <li class="item-content">
                                    <div class="item-media">
                                        <img :src="'http://tnfs.tngou.net/img'+item.img" width="44">
                                    </div>
                                    <div class="item-inner">
                                        <div class="item-title-row">
                                            <div class="item-title">{{item.name}}</div>
                                        </div>
                                        <div class="item-subtitle">{{item.food}}</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- 加载提示符 -->
                <div class="infinite-scroll-preloader" v-if="isShowLoad">
                    <div class="preloader"></div>
                </div>
            </div>
        </div>
    </div>

</div>