<div>
    <!-- 标题栏 -->
    <header class="bar bar-nav">
        <a class="icon icon-me pull-left open-panel"></a>
        <h1 class="title">{{title}}</h1>
    </header>

    <!-- 这里是页面内容区 -->
    <!--<div class="content">-->
        <!--<div class="list-block">-->
            <!--<ul>-->
                <!--<li class="item-content" v-for="item in cookbookClasses" @click="goCookbook(item.id)">-->
                    <!--<div class="item-media"><i class="icon icon-f7"></i></div>-->
                    <!--<div class="item-inner">-->
                        <!--<div class="item-title">{{item.title}}</div>-->
                    <!--</div>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->

    <!--tab页-->
    <div class="content">
        <div class="buttons-tab">
            <a v-for="item in cookbookClasses" href="#tab{{item.id}}" class="tab-link button">{{item.title}}</a>
        </div>
        <div class="content-block">
            <div class="tabs">
                <div id="tab{{item.id}}" class="tab" v-for="item in cookbookClasses">
                    {{item.title}}
                </div>
            </div>
        </div>
    </div>
</div>