<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="http://m.chezhil.com/app5.0/css/app/hot.css?v=0049">
    <title>Vue Router Example</title>
    <style>
        .v-link-active {
            color: red;
        }
    </style>
    <script>
        <%-server_data%>
    </script>
</head>
<body>

<div id="app">
    <!--<h1>Hello App!</h1>-->
    <p>
        <a v-link="{ path: '/foo' }">Go to Foo</a>
        <a v-link="{ path: '/bar' }">Go to Bar</a>
        <a v-link="{ path: '/' }">Go to Index</a>
        <a v-link="{ path: '/qa/1' }">Go to Qa</a>
    </p>

    <router-view><%-server_html%></router-view>
</div>
<script src="/__build__/app.js"></script>
</body>
</html>