<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0,user-scalable=no">
    <title>Vue Router Example</title>
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/??sm.min.css,sm-extend.min.css">
    <link rel="stylesheet" href="/__build__/styles.css">
    <style type="text/css">

        /*.test-transition {*/
            /*transition: all .1s ease;*/
        /*}*/

        /*.test-enter {*/
            /*opacity: 0;*/
            /*transform: translate3d(10px, 0, 0);*/
        /*}*/
        /*.test-leave {*/
            /*opacity: 0;*/
            /*transform: translate3d(-10px, 0, 0);*/
        /*}*/

    </style>
</head>
<body id="app">
<div class="page-group">

    <router-view>
        <%-server_html%>
    </router-view>

</div>
<script>
    <%-server_data%>
</script>
<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script>
    <!--SUI配置 关闭路由功能-->
    $.config = {
        router : false
    }
</script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/??sm.min.js,sm-extend.min.js' charset='utf-8'></script>

<!--这2个文件 在发版的时候要注释掉 只是在开发时引入-->
<script type='text/javascript' src="/__build__/vendor.js"></script>
<script type='text/javascript' src="/__build__/app.js"></script>
<!--end-->


</body>
</html>